# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/.idea
/.qodo
/cart/config
/cart/bin
/loms/bin
/loms/config
/loms/vendor-proto
/bin
.qodo
